[Unit]
Description=Autoreconnect network when lost or reboot

[Service]
Type=simple
ExecStart=/usr/bin/reconnect.pl

[Install]
WantedBy=multi-user.target
